<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Página</title>
    <!-- Adicione aqui links para folhas de estilo (CSS) se necessário -->
</head>
<body>

    <header>
        <h1>Minha Página HTML</h1>
        <nav>
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h2>Seção 1</h2>
        <p>Este é um parágrafo na seção 1.</p>
    </section>

    <section>
        <h2>Seção 2</h2>
        <p>Este é outro parágrafo em uma seção diferente.</p>
    </section>

    <footer>
        <p>&copy; 2024 Minha Página HTML. Todos os direitos reservados.</p>
    </footer>


</body>
</html>
